// Specific CSS for your home-page


@media(max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  60% 40%;
  }

  .big-banner-top {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .banner-left {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .banner-right {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .new-arrivals {
    padding-bottom: 25px;
  }
}

@media(min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows:  60% 40%;
  }

  .side-nav-left {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .big-banner-top {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
  }

  .banner-left {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .banner-right {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }

  .new-arrivals {
    padding-bottom: 25px;
  }

  .side-padding {
    padding: 0 80px;
  }

  .bottom-container {
    display: flex;
  }
  .nav-flex {
    flex: 0 0 200px;
  }
  cards-flex {
    flex: 1 0 auto;
  }
  .home-padding {
    padding: 20px;
    // padding-top: 100px;
  }

}

.about-page {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
.us {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

