.profile-container {
  // background-color: $off-white;
  margin: 0px 10px;



}

.profile-content {
  width: 80%;
  border: 1px solid #dce0e0;
  padding: 20px 0;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-photo {
  min-width: 30%;

  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.profile-infos {
  min-width: 70%;
  flex-grow: 1;
}

.profile-attribute {
  text-align: left;
  font-weight: bold;
  min-width: 250px;
  h4{
    font-weight: 400;
    color: black;
  }
}

.profile-value {
  text-align: left;
  flex-grow: 1;
  padding-right: 10%;
  line-height: 1.5;
  h4 {
    opacity: .9;
        color: #4E4D6D;
  }
}

.profile-element {
  background-color: white;

  display: flex;
  align-content: center;
  justify-content: space-between;
}
