.profile-container {
  // background-color: $off-white;
}

.profile-element {
  background-color: white;
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid rgba(1,1,1,0.2);
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.profile-attribute {
  font-weight: bold;
  min-width: 200px;
}
.profile-value {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}
