.profile-container {
  // background-color: $off-white;
  margin: 0px 50px;
}

.profile-content {
  display: flex;
  padding-left: 20px;
}

.profile-photo {
  min-width: 30%;
}

.profile-infos {
  min-width: 70%;
  flex-grow: 1;
}

.profile-attribute {
  text-align: left;
  font-weight: bold;
  min-width: 250px
}

.profile-value {
  text-align: left;
  flex-grow: 1;
}

.profile-element {
  background-color: white;

  display: flex;
  align-content: center;
  justify-content: space-between;
}
