.wrapper{
  background-color: #EBF0F1;
}
.show-container {
  padding-top: 0px;

}

.content {
  padding: 0px;
}

// material-show-content (left)
.material-specs {
  list-style: none;
  padding-left: 20px;
  li {
    // padding: 5px 0;
    span {
      font-weight: medium;
    }
  }
}

.bold {
  font-weight: bold;
}

.material-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.image-material-show {
  width: 100%;
  height: 265px;
  background-size: cover;
  padding-top: 10px;
}

.materials-description {
  // padding-top: 30px;
  h5{
    font-weight: bold;
    padding-left: 10px;
  }
  p{
    opacity: .9;
    font-weight: lighter;
        padding-left: 10px;
  }
}



// right side

// .order-form {
//   height: 230px;
//   border: 1px solid black;
// }

.order-form {
  width: 100%;
  height: 100vh;
  background-color: #827882;
  // border: 1px solid black;
}

.map-show {
  margin: 10px;
  height: 20px;
}

.padding-text {
  list-style: none;
  padding-left: -2px;
}
