.grid-show {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows:  40% 20% 40%;
  height: 800px;
}

.side-nav-left {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  flex: 0 0 200px;
}

.material-specs {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  list-style: none;
  padding-left: 40px;

  li {
    .fa {
      color: $blue-purple;
    }
    // padding: 5px 0;
    list-style: none;
    span {
      font-weight: medium;
    }
    h4 {
      font-size: 25px;
    }
    h5 {
      font-size: 20px;
    }
  }
}

.material-show-order {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  p {
    opacity: .7;
  }
  h5 {
        font-size: 20px;
  }

}


.material-show-photo {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-top: 35px;
}

.material-show-about {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}

.map-materials-show {
  grid-row: 3 / span 1;
  grid-column: 2 / span 3;
  width: 86%;
  margin-top: 40px;

}

.image-material-show {
  width: 100%;
  height: 265px;
  background-size: cover;
  padding-top: 10px;
}

.materials-description {
  padding-top: 40px;
  width: 1000px;
  // padding-left: 10px;
  h5{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
  }
  p{
    opacity: .9;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
}


.order-form {
  // padding-top: 10px;
  // width: 100%;
  // text-align: left;
  // padding-left:30px;
  // line-height: 30px;
  h3{
    font-size: 25px;
  }
  h5 {
    font-size: 20px;

  }
  // background-color: #827882;
  // border: 1px solid black;
  li {
    list-style: none;
    p {
      opacity: .8;
      font-weight: lighter;
      padding-top: 10px;
    }

  }
}

.bold {
  font-weight: bold;
}

.padding-top {
 margin-top: 33px;
}
