<div class="baby-banner" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(<%= image_path('bottles.jpg'); %>">

<h3>GLASS BOTTLES</h3>
<h5>Discover</h5>

</div>


