<div class="baby-banner" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)
  ), url('<%= cl_image_path(@random_material.photo)%>'); %>">

  <h3> <%= material.category %> </h3>
  <h5>Discover</h5>

</div>


