<div class="baby-banner" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)
  ), url(<%= image_path('construction_metals.jpg'); %>">

  <div class="baby-banner-content">
    <button type="submit" class="btn btn-red">NEW</button>
    <h3> Metal </h3>
    <h5>Discover</h5>
  </div>

</div>



<!-- <div class="big-banner" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
      ), url(<%=image_path('ben-white.jpg')%>);"> -->
