<div class="big-banner" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(<%=image_path('ben-white.jpg')%>);">
  <div class="big-banner-content">

    <h4>Recycle  Reuse  Reduce</h4>
    <h1>ZERO WASTE</h1>


  </div>
</div>


<!-- linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50% ), -->
