<html>
<head>
  <meta charset="utf-8">
  <title>Inbox - Message design</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="container">

    <h1>Your messages</h1>

    <!-- Code your tabs here -->
    <div class="tabs">
      <a href="#" class="tab active">Traveling</a>
      <a href="#" class="tab">Hosting</a>
    </div>

    <h1>Your messages</h1>
    <ul class="inbox">
      <li class="message">
        <img src="images/gab.png" alt="" class="avatar-large">
        <div class="message-name">
          <h3>Gab Dehan</h3>
          <p>10/07/17</p>
        </div>
        <div class="message-body">
          <p><strong>I don't know!</strong></p>
          <p>
            I don't know, I have never been able to make decsions. Can I never decide?
          </p>
        </div>
        <div class="message-status">
          <p class="status pending">Pending</p>
          <p class="price">€111</p>
        </div>
      </li>
      <li class="message">
        <img src="images/cecile.png" alt="" class="avatar-large">
        <div class="message-name">
          <h3>Cecile Veneziani</h3>
          <p>23/09/17</p>
        </div>
        <div class="message-body">
          <p><strong>Fuck off</strong></p>
          <p>
            What did you think? Go fuck yourself and don't write me again.
          </p>
        </div>
        <div class="message-status">
          <p class="status accepted">Accepted</p>
          <p class="price">€999</p>
        </div>
      </li>
      <li class="message">
        <img src="images/jad.png" alt="" class="avatar-large">
        <div class="message-name">
          <h3>Jad Joubran</h3>
          <p>19/08/17</p>
        </div>
        <div class="message-body">
          <p><strong>I'm speechless and blind</strong></p>
          <p>
            I have more questions about your apartment, regarding handicapped poeple.
          </p>
        </div>
        <div class="message-status">
          <p class="status declined">Declined</p>
          <p class="price">€666</p>
        </div>
      </li>
    </ul>

  </div>
</body>
</html>
