<div class="container">

  <h1>Your messages</h1>
  <ul class="inbox">
    <li class="message">
      <img src="user.photo" alt="" class="avatar-large">
      <div class="message-name">
        <h3> <%= sender_id.name %></h3>
        <p> <%= message.created_at %></p>
      </div>
      <div class="message-body">
        <p><strong> <%= message.title  %></strong></p>
        <p>
          <%=  message.content %>
        </p>
      </div>

    </li>
  </ul>
</div>
