<!-- IMPLEMENT THE SEARCH BAR WHERE / WHEN / HOW MANY -->

<form class="navbar-form-container" action=<%= materials_path %> method="GET">
  <div class="navbar-form">
    <input type="text" name="material" placeholder="Search" value="<%= @material %>">
    <input type="text" name="address" placeholder="Location" value="<%= @address %>">
  </div>
  <button type="submit" class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>


<!--     <form class="navbar-form form-inline pull-right" action=<%= materials_path %> method="GET">
      <input type="text" class="search-box" name="material" placeholder="What">
      <input type="text" name="address" placeholder="Where">
       <input type="submit" value="" class="search-btn" />
     </form> -->

