
<div class="container">
  <div class="row">
    <div class="about-page">
    <div class="title">
      <h2>This website has been proudly built by:</h2>
    </div>
    <div class="us">
      <div class="person">
        <%= image_tag "willem.jpg", class: "avatar-extra-large" %>
        <h3>Willem van Klinken</h3>
      </div>
      <div class="person">
        <%= image_tag "victor.jpg", class: "avatar-extra-large" %>

        <h3>Victor Laurent</h3>
      </div>
      <div class="person">
        <%= image_tag "ryan.jpg", class: "avatar-extra-large" %>

        <h3>Ryan Wiens</h3>
      </div>
    </div>
    <div class="thanks">
      <h2>Thank you to all the teachers and class mates at <strong>Le Wagon</strong> that made it an amazingly fun 9 weeks!!!</h2>
    </div>
    </div>
  </div>
</div>
