<!-- <h1>Pages#home</h1>
  <p>Landing page</p> -->

  <div class="conatainer">
    <div class="grid">
      <div class ="side-nav-left">
        <%= render 'shared/side-nav' %>
      </div>
      <div class="big-banner-top">
        <%= render 'shared/big-banner' %>
      </div>
      <div class="banner-left">
        <%= render 'shared/baby-banner' %>
      </div>
      <div class="banner-right">
        <%= render 'shared/baby-banner-2' %>
      </div>
    </div>
  </div>
