.avatar-square {
  border-radius: 0%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.avatar-square:hover,
.avatar-square:focus {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.profile-photo {
  width: 30px;
  height: 30px;
}

.avatar-large {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
}

.avatar-extra-large {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
