.avatar-square {
  border-radius: 0%;
  width: 30px;
  height: 30px;
}

 .avatar-square:hover,
    .avatar-square:focus {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
