.big-banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  color: black;

}

.big-banner h1 {
  font-size: 80px;
  font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.big-banner h2 {

  color: white;
  font-weight: lighter;
}

.baby-banner {
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.baby-banner .btn {
      position: absolute;
    top: 47px;
    left: 65px;

}

.baby-banner h3 {
  position: absolute;
  left: 64px;
  top: 60px;
  font-size: 60px;
  // font-weight: bold;
}

.baby-banner h5 {
  position: absolute;
  left: 64px;
bottom: 10px;
  font-size: 30px;
}




