.big-banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  color: black;

}

.big-banner h1 {
  font-size: 50px;
  font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.big-banner h4 {

  font-weight: lighter;
  color: white;
  font-weight: lighter;
}

.baby-banner {
  color: white;
  height: 40vh;
  text-align: center;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
