.btn-red {
  color: white;
  background-color: $flat-red;
  font-size: 20px;
  padding: 2px 7px;
}

.btn-blue-purple {
  color: white;
  background-color: $blue-purple;
  font-size: 10px;
  padding: 2px 7px;
}

.btn-yellow {
  font-size: 15px;
  background-color: rgb(243, 211, 77);
  color: black;
  border-radius: 1px;
  padding: 5px 30px;
}

.btn-yellow:hover {
  opacity: 1;
  background: rgb(78, 77, 109);
  color: white;
}

.btn-purple {
  font-size: 15px;
  background-color: rgb(78, 77, 109);
  color: rgb(243, 211, 77);
  border-radius: 1px;
  padding: 5px 30px;
}

.login-button {
  margin-bottom: 7px;
}

.btn-order {
  color: black;
  background-color:#FFD131;
  padding: 10px 60px;
  border-radius: 1px;
  font-size: 20px;
}

.btn-order-home {
    color: black;
    background-color: #FFD131;
    padding: 10px 20px;
    border-radius: 1px;
    font-size: 15px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
}

.btn-order-home:hover {
    color: $blue-purple;
    background-color: #FFD131;
    padding: 10px 20px;
    border-radius: 1px;
    font-size: 15px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    text-decoration: none;
}


.padding-text {
  padding-top: 20px;
  font-weight: 200;
}

.message-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  margin: 10px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.message-button.red {
background-color: $red;
}

.message-button.green {
background-color: $green;

}
