.btn-red {
  color: white;
  background-color: $flat-red;
  font-size: 20px;
  padding: 2px 7px;
}

.btn-blue-purple {
  color: white;
  background-color: $blue-purple;
  font-size: 10px;
  padding: 2px 7px;
}

.btn-yellow {
  font-size: 15px;
  background-color: rgb(243, 211, 77);
  color: black;
  border-radius: 1px;
  padding: 5px 30px;
}

.btn-yellow:hover {
  opacity: 1;
  background: rgb(78, 77, 109);
  color: white;
}

.btn-purple {
  font-size: 15px;
  background-color: rgb(78, 77, 109);
  color: rgb(243, 211, 77);
  border-radius: 1px;
  padding: 5px 30px;
}

.login-button {
  margin-bottom: 7px;
}

.btn-order {
  color: white;
  background-color:#231517;
  padding: 10px 80px;
  border-radius: 1px;
  font-size: 20px;
}

.padding-text {
  padding-top: 20px;
  font-weight: 200;
}
