@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

/*
*  Basic Reset
*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container {
  flex: 1 0 60%;
  padding: 10px;
  padding-top: 0px;
}

/**
* Helpers
*/
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

// .text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}


/**
* Card Styles
*/
.card {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .image-card {
    position: relative;
    width: 100%;
    height: 140px;
    background-size: cover;
  }
  background-color: #fff;
  margin-bottom: 1rem;
  border: .5px solid #eceaea;


  a {
    text-decoration: none;
    color: $blue-purple;
    font-size: 15px;
  }
  a:hover {
    color: $orange;
    text-decoration: none;
  }
  body {
    background-color: #eee;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.6;
    color: #666;
  }

  h2 {
    left: 10px;
    top: 15px;
    line-height: 1.2;
    margin-bottom: 1.6rem;
    font-size: 32px;
  }
}
// .card:hover,
// .card:focus {
//   -webkit-transform: scale(1.01);
//   -moz-transform: scale(1.01);
//   -ms-transform: scale(1.01);
//   -o-transform: scale(1.01);
//   transform: scale(1.01);
// }

.card__padding {
  padding: 0px 10px;
}

.card__image {
  min-height: 100px;
  background-color: #eee;
}
.card__image img {
  position: relative;
  opacity: 0.95;
  width: 100%;
  max-width: 100%;
  display: block;
}

.card__content {
  position: relative;
  margin: 1px 2px;
  text-align: left;
}

.card__date__image {
  z-index:100;
  position:absolute;
  color:$blue;
  font-size:15px;
  font-weight:bold;
  top: 0;
  right: 5px;
  font-weight: 900;
}

.card__text__image {
  left:25px;
  top: 15px;
  position: absolute;
  margin: 0;
  line-height: 30px;
  font-weight:bolder;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.card__description p {
  font-size:18px;
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  height: auto;
  margin: 1px 0px 4px;
}

.card__footer__left{
  float:left;
}

.card__footer__right{
  float:right;
}

/* card action */
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card__price {
  overflow: hidden;
  padding-right: 20px;
  padding-left: 15px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 900;
}

.card__share {
  position: absolute;
  top: 113px;
  right: 0;
  z-index: 9999;
}

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
  transform: translateX(0px);
  transition: transform 0.35s ease;
}
.card__social--active {
  visibility: visible;
      /*z-index: 3;*/
      transform: translateZ(0);
      transform: translateX(-48px);
      transition: transform 0.35s ease;
      opacity:0.9;
      display: flex;
    }

    .share-toggle {
      z-index: 2;
      text-decoration: none;
    }
    .share-toggle:before {
      content: "\f1e0";
      font-family: 'FontAwesome';
      color: $blue;
    }
    .share-toggle.share-expanded:before {
      text-decoration: none;
      content: "\f00d";
    }

    .share-icon {
      text-decoration: none;
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      background-color: $yellow;
      transition: all 0.3s ease;
      outline: 0;
      opacity: 1;
      text-decoration: none;
      color: $blue;
    }
    .share-icon:hover,
    .share-icon:focus {
      text-decoration: none;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    .cards-flex {
      padding: 0px 80px;
      padding-left: 203px;
      padding-bottom: 40px;
      background-color:white;
    }

    .info-card {
      height: 290px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding-top: 10px;
      ul {
        list-style: none;
      }
    }

.hidden-input {
  display: none;
}
