.chat {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.chat:last-child {
  border-bottom: none;
}

.message {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(220,224,244,0.4)
}
.message:last-child {
  border-bottom: none;
}

.chat-sender {
  display: flex;
}

.sender-info {
  margin-left: 20px;
}

.sender-name {
  font-weight: bolder;
}

.sender-mail {
  font-weight: lighter;
}

.chat-messages {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.chat-subject {
  font-weight: bold;
}
