/*To design a flexbox layout with a sticky map */
.main-map-and-cards-container {
  display: flex;
}
/* We just give you a Gmaps with random width/height */


#map-index {
  flex-grow: 1;
  height: 90vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 55px !important;
  flex: 0 1 450px;
}

.map-materials-show {
  width: 100%;
  height: 265px !important;
}
