.inbox {
  border: 1px solid #dce0e0;
  padding: 0px 10px;
  margin: 3px;
  margin-top: 5px;
}
.message {
  display: flex;
  align-items: center;
  padding: 12px 5px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  .actions {
    display: flex;
align-items: center;
  }
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
  color: $blue-purple;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
  }
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
