/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $blue;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $red;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  // box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}







@media(max-width: 768px) {
  .navbar-form {
    flex-direction: column;
    input[type="text"] {
      margin: 10px 0;
    }

  }
}

@media(min-width: 768px) {
  .navbar-form-container {
    height: 35px;
  }
}

.secondary-navbar {
  background-color: #4d4c6c;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}


.navbar-form-container {
  display: flex;
  .navbar-form {
    margin: 0;
    display: flex;
    // border: 1px solid #95A5A6;
    border-right: none;
    padding: 0;
    border-radius: 1px;
    overflow: hidden;
    height: 100%;
    input[type="text"]:first-child {
      border-right: 1px solid #95A5A6;
    }
    input[type="text"] {
      border: none;
      padding: 0 5px;
      width: 265px;
      &:focus {
        outline-color: #95A5A6;
      }
    }
  }
  button {
    display: block;
    width: 47px;
    border-radius: 0;
    border: none;
    background-color: $blue;
    color: white;
  }
}
