.nav-side-menu{
  color: $blue-purple;
  height: 100vh;
  background-color: white;
  a {
    color: $blue-purple;
  }
}

.nav-side-menu .category {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.menu-list {
      position: fixed;
    max-width: 100px;
  ul {
    li {
      margin: 35px 0;
      a {

        text-decoration: none;
        h5 {
          font-size: 17px;
          margin: 0;
          margin-top: 16px;
          color: #36356b;
        }
        &:hover h5 {
      opacity: .5;
      color: #36356b;
}
        h6 {
          color: #36356b;
          font-size: 15px;
          margin: 0;
          font-weight: 100;
          // opacity: 0.5;
          text-decoration: none;
        }

      &:hover h6 {
        opacity: .8;

      }
      }
    }
  }
  padding-left: 10px;
  a {
    font-size:12px;
    font-weight: lighter;
  }
  padding-top: 5px;
}
.menu-list ul li a:hover {
  opacity: 1;
}
// .nav-side-menu .toggle-btn {
//   display: none;
// }

.nav-side-menu ul,
.nav-side-menu li {
  color: white;
  list-style: none;
  // margin: 0px;
  line-height: 35px;
  cursor: pointer;
  a {
    color: white;
  }
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}


.nav-side-menu .menu-content li {
  padding-left: 0px;
  // border-left: 1px solid #2e353d;
  // border-bottom: 1px solid #23282e;
  // background-color: #5c5b73;
  padding: 0px 0 0 15px;
}

.hidden-xs .hidden-sm {
  visibility: hidden;
}

.nav-side-menu-home {
  padding-left: 70px;
}
