    <div class="content">
      <div class="row">
        <div class="col-xs-6">
          <%= render partial: 'material_show_specs' %>
        </div>
        <div class="col-xs-6">
          <!-- materials-photo -->
          <div class="image-material-show" style="background-image:url('<%= cl_image_path "glass_rynmms", width: 300 %>');">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="materials-about">
            <!-- material description -->
            <div class="materials-description">
              <h5>About this product</h5>
              <p><%=  @material.description %></p>
            </div>
          </div>
        </div>


      </div>
    </div>
