<div class="info-card">

  <h3>
    Total Price:
    <span>

      <i class="fa fa-euro gray" aria-hidden="true">
      </i>
    </span> <%=  @material.price %>
  </h3>

  <h5>Expected lead time: <%= @material.lead_time %>
  </h5>
  <ul>
    <li>
      <p>
        <span>
          <i class="fa fa-check" aria-hidden="true">

          </i>
        </span>
        Get your free quote
      </p>
    </li>
    <li>
      <p>
        <span>
          <i class="fa fa-check" aria-hidden="true">

          </i>
        </span>
        Direct contact with supplier
      </p>
    </li>
    <li>
      <p>
        <span>
          <i class="fa fa-check" aria-hidden="true">

          </i>
        </span>
        No commission
      </p>
    </li>
  </ul>

    <%= render partial: 'modal_invoice' %>

    <button type="button" class="btn-order center" data-toggle="modal" data-target="#invoice">
      Buy Now!
    </button>



</div>


