<div class="order-form">
<h4>Buy this Product:</h4>
<p>Expected lead time:</p>
<p>Total price</p>

<%= link_to 'Buy', purchases_path, {method: :post}  %>


<%= simple_form_for(@material, url: purchases_path, html: { method: :put }) do |f| %>

  <%= f.input :material, as: :hidden %>
  <%= f.submit %>
<% end %>

</div>

