<div class="materials-about">
            <!-- material description -->
            <div class="materials-description">
              <h5>About this product</h5>
              <p><%=  @material.description %></p>
            </div>
          </div>
