<div class="materials-about">
            <!-- material description -->
            <div class="materials-description">
              <h5>About this product</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dolorem. Quasi iure sapiente ipsa earum saepe sed rem reiciendis reprehenderit vero, dolorem dolorum porro ducimus omnis! Non repudiandae dolores explicabo, et omnis facere sint dignissimos! Est mollitia blanditiis, temporibus enim.</p>
            </div>
          </div>
