  <div class="tab-content" id="category">
    <div class="text-center">
      <%= render partial: "shared/cards_and_map", locals: { materials: @materials, markers_map: @markers_map } %>
    </div>
  </div>

