<div class="wrapper">
  <div class="container-home-zero-padding">

    <div class="row">
      <div class="col-xs-12 col-md-2">
        <%= render partial: 'shared/nav-side-menu' %>
      </div>
      <div class="show-container">
        <!-- left-side -->

        <div class="col-xs-12 col-sm-8 col-md-7 no-gutter">
          <%= render partial: 'material_show_content' %>



        </div>

        <!-- right side -->
        <div class="col-xs-12 col-sm-4 col-md-3 no-gutter">
          <%= render partial: 'material_show_order-form', locals: { material: @material } %>


        </div>

      </div>

    </div>


    </div>
  </div>
</div>
